/*base styles*/
* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: rgb(12, 12, 12);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  text-align: left;
  color: rgb(226, 163, 255) !important;
  font-family:'Lato';
  font-weight: bold;
  font-size: min(3.5vw, 3.5vh);
}

.pageheader {
  font-family: 'Lato';
  font-weight: bolder;
  font-size: min(6vh, 8vw);
  text-align: left;
}

.rainbow {
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 10s infinite linear;
  font-feature-settings: "kern";
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes hue {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0; 
  width: 100%;
  /* animation: slide 30s ease-in-out infinite; */
}

.centered {
  display: 'flex';
  justify-content:'center';
  align-items:'center';
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -20vw, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.hover-shine:hover {
  color: plum;
  transform: translate(-1px, -1px);
  filter: drop-shadow(1px 1px 4px rgba(177, 177, 177, 1));
  transition: 0.25s;
}

/*NAVBAR*/

 /*container for links*/
.navbar {
  position: fixed;
  top: 3%;
  width: 100%;
  height: 5%;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.navbar-inner {
  width: 90%;
  justify-content: space-between;
  display: flex;
  flex-flow: row;
}

.links {
  display: flex;
  flex-flow: row;
  width: 100%;
}

.link {
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-right: 8px;
  transition: 0.6s;
}


/* SOCIALS */
.social-container {
  display: flex;
  flex-flow: row;
  transition: 0.6s;
}

a.social {
  color: rgba(212, 212, 212, 0.733);
  font-size: 35px;
  margin-left: 15px;
  transition: 0.25s;
}



/*HOME*/

.outer-home {
  justify-content: center;
  align-content: center;
}

.Home {
  display: flex;
  flex-flow: column;
  position: relative;
  padding-bottom: 300px;
  gap: 125px;
}

.NameContainer {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-top: 75px;
}

.Name {
  user-select: none;
  font-size: min(6vh, 10vw);
  margin-top: 1%;
  text-align: right;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.profilePic {
  margin-top: min(3vh, 3vw);
  width: min(45vh, 75vw);
  border-radius: 2%;
}

.intro {
  margin-top: min(1.7vh, 4vw);
  text-align: left;
  color: white !important;
  font-family: 'Abel';
  font-size: min(3.7vh, 6.2vw);
}

.bottomtext {
  margin-top: -7%;
}

.bottomertext {
  margin-top: -27%;
  font-size: min(13.4vh, 19vw);
  letter-spacing: max(-0.8vh, -0.85vw);
}

/* Experience */

.Exp {
  margin-top: min(20vh, 42vw);
  margin-left: 10%;
  padding-bottom: 50px;
}

.logoExp {
  width: min(15vh, 15vw);
  height: min(15vh, 15vw);
  border-radius: 8%;
}

.listExp {
  margin-left: min(22vh, 17vw);
  text-align: left;
  color: rgb(158, 158, 158) !important;
  font-family: 'Abel';
  font-size: min(2vh, 3vw);
}

.elementExp {
  margin: 10px;
}

.headerBox {
  margin-left: -5%;
  display: inline-block;
}

.titleHeader {
  text-align: left;
  font-family: 'Lato';
  font-size: min(9vw, 6vh);
  padding-right: min(1vh, 0.6vw);
  margin-bottom: min(6vh, 5vw);
  border-bottom: min(0.4vh, 0.4vw) solid rgb(100, 100, 100);
  border-right: min(0.4vh, 0.4vw) solid rgb(100, 100, 100);
  border-radius: 0 0 min(3vh, 3vw) 0;
}

.subheaderExp {
  margin-left: 2vh;
  text-align: left;
  color: rgb(158, 158, 158) !important;
  font-family: 'Lato';
  font-size: min(3vw, 3vh);
}

/* ABOUT ME */

.About {
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 60%;
  margin: auto;
}

.textAbout {
  font-size: 1.2rem;
  color: rgb(190, 190, 190);
  font-family: 'Anek Telugu', serif;
}

.AboutImage {
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AboutText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

@media (max-width: 768px) {
  .Home {
    gap: 100px;
  }

  .About {
    flex-direction: column;
    padding-top: 50px;
    width: 90%;
  }

  .textAbout {
    font-size: 1rem;
  }
}

/* Skills */
.Skills {
  display: flex;
  flex-flow: column;
  width: 45%;
  margin: auto;
  gap: 25px;
}

.Skills-inner {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.Skills-text {
  text-align: center;
}

.Skills-text h1 {
  font-family: "Lato", 'serif';
  font-size: 2.75rem;
}

.Skills-icon {
  font-size: 4rem;
  color: #dbe5e5;
}

@media (max-width: 768px) {
  .Skills {
    width: 80%;
    gap: 25px;
  }

  .Skills-inner {
    gap: 20px;
  }

  .Skills-text h1 {
    font-size: 2rem;
  }

  .Skills-icon {
    font-size: 3rem;
    color: #dbe5e5;
  }
}

/* COOP HUB */

.Coop {
  position: relative;
  display: block;
  flex-flow: row;
  flex-direction: row;
  margin-top: 10vh;
}

.hrCoop {
  width: 90%;
  margin: auto;
}

.item {
  border-radius: min(5vh, 6vw);
  margin: min(5vh, 4vw) min(8vh, 6vw);
  height: min(20vh, 22vw);
  background-color: rgba(145, 145, 145, 0.233);
  -webkit-font-smoothing: antialiased !important;
  position: relative;
}

.item:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: rgba(110, 110, 110, 0.568);
}

.blockCoop {
  display: flex;
  flex-flow: row;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: min(3.5vh, 2.5vw);
}

/* projects */

.Projects {
  display: flex;
  flex-flow: column;
  width: 95%;
  margin: auto;
  gap: 20px;
}

.Project {
  display: flex;
  flex-flow: column;
  padding: 15px;
  background-color: rgba(35, 35, 35);
  border-radius: 15px;
  margin: 0 15px;
  transition: filter 0.3s ease-in-out;
  /*height: 85%;*/
}

.overlay-button {
  position: absolute;
  bottom: 0%;
  right: 5%;
  padding: 5px;
  border-radius: 50%;
  background-color: rgb(52, 52, 52);
  color: white;
  font-size: 2rem;
  transition: 0.2s ease-in-out;
  box-shadow: 0 5px 5px rgba(2, 2, 2, 0.292);
}

.overlay-button:hover {
  cursor: pointer;
  color: plum;
  transform: translate(0px, -2px);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-content {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.project-header {
  display: flex;
  flex-flow: column;
  width: 100%;
  /*height: 35%;*/
}

.project-body {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-evenly;
  margin: 15px 0;
}

.project-footer {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 10%;
  justify-content: right;
  align-items: last baseline;
}

.picProjects {
  border-radius: 10px;
  width: 60%;
  height: 100%;
}

.subheaderProjects {
  text-align: left;
  color: rgb(153, 153, 153) !important;
  font-family: 'Lato', 'Abel', serif;
  font-size: 1rem;
}

.columnProjects {
  display: flex;
  width: 25%;
  flex-flow: column wrap;
  text-align: center;
  justify-content: space-evenly;
}

.linkProjects {
  position: relative;
  color: rgb(153, 153, 153) !important;
  font-family: 'Lato', 'Abel', serif;
  /* font-size: min(2vw, 2vh); */
  font-size: 15px;
  font-style: italic;
}

@media (max-height: 768px) {
  .subheaderProjects {
    font-size: 0.8rem;
  }

  .Projects h2 {
    font-size: 1.2rem;
  }
}

/* Machine vision COOP PAGE */

.CoopPage {
  position: relative;
  display: block;
  flex-flow: row;
  flex-direction: row;
  margin-top: 15vh;
  animation: fadeIn 2s;
}

.header {
  margin-left: 5vw;
  text-align: left;
  color: white !important;
  font-family: 'Abel', 'Lato', serif;
  font-size: 5.7vh;
}

.subheader {
  margin-left: 5vw;
  text-align: left;
  color: rgb(158, 158, 158) !important;
  font-family: 'Lato', serif;
  font-size: 3.2vh;
}

.subsubheader {
  margin-left: 10vw;
  text-align: left;
  color: rgb(158, 158, 158) !important;
  font-family: 'Lato', serif;
  font-size: 3.2vh;
  font-style: italic;
}

.text {
  text-align: left;
  color: rgb(230, 230, 230) !important;
  font-family: 'Anek Telugu', serif;
  font-size: 2.5vh;
  width: 80%;
}

.picture {
  padding: 10px;
  background-color: aliceblue;
}

.block {
  display: flex;
  flex-flow: row;
  position: relative;
  margin-top: 2vh;
  margin-left: 10vw;
}

.chunk {
  display: flex;
  flex-flow: column;
  position: relative;
  margin-top: 5vh;
}



/* JOBS */

.outer-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.inner-container {
  width: 80%;
}

.jobs-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.Job {
  width: 100%;
  margin: 15px 0;
}

.job-content {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  background-color: rgb(35, 35, 35);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(7, 7, 7, 0.592);
  z-index: 2;
  user-select: none;
}

.jobHeader {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  margin: 10px 10px 10px 20px;
}

.jobFlyoutIcon {
  position: absolute;
  bottom: 15px;
  right: 15px;
  font-size: 30px;
  color: rgb(230, 230, 230) !important;
}

.jobFlyoutIcon :hover {
  cursor: pointer;
  color: rgb(226, 163, 255) !important;
}

.jobCompany{
  text-align: left;
  color: rgb(160, 160, 160) !important;
  font-family: 'Abel', serif;
  font-style: italic;
  font-size: min(3.2vw, 3.2vh);
}

.jobDate {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: min(2.5vw, 2.5vh);
  color: rgb(146, 146, 146) !important;
  font-family: 'Anek Telugu', serif;
}

.jobFlyout {
  background-color: rgba(59, 59, 59, 0.322);
  border-radius: 0 0 10px 10px;
  padding: 10px;
  margin-left: 30px;
  box-shadow: 0 5px 5px rgba(7, 7, 7, 0.418);
  z-index: 1;
  overflow: hidden;
}

.jobDetailsText {
  color: rgb(230, 230, 230) !important;
  font-family: 'Anek Telugu', serif;
  font-size: min(2.2vw, 2.2vh);
}

/* widescreen changes */
@media only screen and (min-width: 2000px) {

  .link {
    font-size: 24px;
  }

  a.social {
    font-size: 50px;
    margin-left: 25px;
  }

  .Project {
    width: 40%;
    margin: 2% 0;
  }

  .inner-container {
    width: 90%;
  }

  .job-content {
    padding: 1%;
    border-radius: 10px;
  }

  .Job {
    margin: 1% 0;
  }
}

/* mobile changes*/
@media only screen and (max-width: 1500px) {

  .link {
    font-size: 11px;
  }

  .outer-container {
    margin-top: 75px;
  }


  .linkProjects {
    font-size: 14px;
  }

  .picProjects {
    border-radius: 5px;
  }

  .inner-container {
    width: 90%;
  }

  .Job {
    margin: 10px 0;
  }

  .job-content {
    padding: 3%;
  }

}